extends ../commons/layout.pug

block TITLE
    title #{__('profile_title')}

block SESSIONINFO
    //include ../commons/login-info.pug

block MENU

block CONTENT
    .head-title
        h1 #{__('profile_header')}
        this is profile page

block SCRIPT
