h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}
	
#menu {
	width: 200px;
	margin: 10px;
	}
	
#menu li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 22px;
	text-decoration: none;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #666;
	display: block;
	background:  url(menu.gif);
	padding: 10px 0 0 35px;
	}
	
#menu li a:hover {
	color: #000;
	background:  url(menu.gif) 0 -32px;
	padding: 10px 0 0 35px;
	}
