<div class='footer'><%= __('copyright', new Date().getFullYear()); %></div>
<!--SCRIPTS COMMONS-->
<script src="/js/dependencies/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/commons/utils.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS COMMONS END-->