
/**
* @neads title
*/

<head>
    <meta charset="urf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%- __('company_name'); %>">
    <meta name="author" content="<%- __('company_name'); %>">
    <meta content="width='device-width, initial-scale=1'" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title><%= title %></title>

    <!--STYLES COMMONS-->
    <link rel="stylesheet" href="/styles/commons/responsive.css">
    <link rel="stylesheet" href="/styles/commons/style.css">
    <link rel="stylesheet" href="/styles/dependencies/awesome/font-awesome.min.css">
    <!--STYLES COMMONS END-->
    <link rel='SHORTCUT ICON' href='/favicon.ico' />
</head>