<html>
    <title>Home</title>
    <head>
        <link rel="stylesheet" href="styles/map.css" type="text/css">
    </head>
    <body>
        <table style="width:100%">
            <tr>
                <th><sltlogo>S-LOGISTICS.VN</sltlogo></th>
                <th><menu>Sản phẩm</menu></th>
                <th><menu>Giải pháp</menu></th>
                <th><menu>Tài liệu</menu></th>
                <th><menu>Bảng giá</menu></th>
                <th><a href="users" style="text-decoration: none;"><menu>Đăng nhập/ Đăng ký</menu></a></th>
            </tr>
            
    </table>
    <table style="margin-top:100px; margin-left:200px;">
        <tr>
            <th style="width:40%"><sltlogo style="font-size:24px; margin-left:0px;">S-LOGISTICS.VN </sltlogo><introduction>thiết kế lộ trình giao hàng đi được nhiều điểm nhất, trong thời gian ngắn nhất với chi phí tiết kiệm nhất.</introduction></th>
            <th rowspan="2"><img src="images/vrp.png" width="600px" height="450px"></th>
        </tr>
        <tr>
            <th><detailintro> Một giải pháp khác là Phần mềm Quản lý Vận chuyển – Transportation Management Software (TMS) hoặc Phần mềm Quản lý Đội xe – Fleet Management Software (FMS). Tuy vậy, chỉ riêng một phần mềm quản lý TMS/FMS không thể giúp bạn giải quyết tất cả các vấn đề đan xen trong bài toán hoạch định lộ trình.</detailintro>
                <form action="/vrp" method="get">
                <ul><input type="submit" class="btn" name="Tryfree" value="Start 7-Days Free Trial "></ul>
                </form>
            </th>
            <th></th>
        </tr>
    </table>
    
    </body>
</html>