<!-- login -->
<!DOCTYPE html>
    <html>
        
        <body>
            Login page
            <%- partial('footer.ejs') -%>
        </body>
    </html>

    <%#
       partial('header.ejs', { title: 'Login page' }) 
        __('login_page'); - __('function_name') 
     partial('footer.ejs')
    %>